<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %> 
    <body class=".index-ejs">
        <h1>Welcome to gitPub</h1>
        <main>
            <ul>
                <% for(let i = 0; i < drinks.length; i++){ %>
                    <li> 
                        <a href="/drinks/<%= i %> "><%= drinks[i].name %></a> 
                    </li>
               <% } %> 
            </ul>
        </main>
    </body>
</html>