<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %> 
    <body class="show-ejs">
        <h1>At foo bar</h1>
        <h2><%= drink.name %></h2>
        <div class="img-container"> 
            <img src="<%= drink.image %> " alt="<%= drink.name %>">
        </div>
    </body>
</html>
