*{
    box-sizing: border-box;
    margin: 10px auto;
    padding: 0;
    /* border: 1px solid black; */
}

body{
    color: blanchedalmond;
    background-color: steelblue;
    /* display: flex;
    justify-content: center; */
}

body h1, h2 {
    text-align: center;
    /* width: fit-content;
    height:fit-content; */
}

.sub-head{
    border: 1px solid blanchedalmond;
    border-radius: 70px;
    width: 15%;
    padding: 15px;
}
.index-ejs ul{
    display: table;
    font-size: 30px;
}

.show-ejs h1, .food-ejs h1{
    text-decoration: underline;
}

.img-container{
    margin: auto;
    width: fit-content;
}

img{
    height: 50vh;
}

